* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  @media all and (orientation:landscape) {
    
    body {
      width: 100vw;
      height: 100vh;
      display: grid;
      grid-template-rows: 2fr 23fr;
      grid-template-columns: 1fr;
      grid-gap: 0.7vw;
      padding: 0.7vw;
      background-color: #d4d3d3;
    }
  
   

    /* -------------------------- Link Path --------------------------- */
    /* ----------------------- ---------------- ----------------------- */
    #amp-div-link-path {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 2;
      display: flex;
      justify-content: center;
      align-items: center;
    }


    .amp-dvc-divisions {
      border-radius: 0.5vw;
      box-shadow: 3px 3px 4px #7a7a7a;
      background-color: white;
    }
    

    .amp-lnkc-top-links {
      font-size: 1.8vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }



    /* ----------------------- About Me ------------------------------- */
    /* ----------------------- ---------------- ----------------------- */
    #amp-div-about-me {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 2;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }


    #amp-img-about-me {
      width: 47vw;
      height: auto;
      border-radius: 9px;
      margin-left: 2vh;
      margin-right: 2vh;
    }


    #amp-pgf-about-me {
      text-indent: 2vw;
      font-size: 1.8vw;
    }
    /* ----------------------- ---------------- ----------------------- */
    
  }
  
  /* Yatay görüntüde margin değerlerini tek yek verdik. Çünkü bunda display flex kullandık (kapsayıcı div içinde) */