* {
    margin: 0;
    padding: 0;
  }
  
  
  @media all and (orientation:landscape) {
    
    body {
      max-width: 100vw;
      max-height: 100vh;
      background-color: #eaeaea;
    }
  
    
    #edp-div-main-widget {
      width: 100vw;
      height: 100vh;
      display: grid;
      grid-template-rows: 10% auto;
      grid-template-columns: 100%;
    }


    #edp-div-website-path {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 2;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    

    .edp-lnc-links {
      font-size: 2vw;
    }


    #edp-div-education {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 2;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }


    .edp-dvc-divisions {
      border-width: 0.3vw;
      background-color: white;
      border-radius: 1vw;
      box-shadow: 3px 3px 4px #c1c1c1;
      margin: 1vw;
    }


    .edp-dvc-sub-divisions {
      width: 30vw;
      height: 41vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }


    #edp-ic-cap {
      width: auto;
      height: 53vh;
      margin: 0.5vw;
      opacity: 0.3;
    }

  
    .edp-dvc-education {
      display: flex;
      justify-content: center;
    }


    .edp-dvc-education-icon {
      width: auto;
      height: 10vh;
      margin: 0.3vw;
    }
  
  
    .edp-dvc-education-link {
      width: 25vw;
      height: 11vh;
      font-size: 1.4vw;
      margin-left: 2vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
  }
  
  /* Yatay görüntüde margin değerlerini tek yek verdik. Çünkü bunda display flex kullandık (kapsayıcı div içinde) */