* {
    margin: 0;
    padding: 0;
}


:root{
	--first-degree-light-gray: #e0dede;
	--second-degree-light-gray: #b1aeae;
}


@media all and (orientation:landscape) {
  
   
  body {
      max-width: 100vw;
      max-height: 100vh;
  }
    

    
  /* ----------------------- Main Widget Side ----------------------- */

  #map-dv-main-widget {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 9% 91%;

  }

  /* ----------------------- Menu Bar ----------------------- */

  #map-nv-menu-bar {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    background: linear-gradient(to bottom, #bebebb, #ebebeb);
  }


  #map-dv-menu-button {
    display: none;
  }


  #map-dv-horizontal-menu {
    width: 41vw;
    height: 6.7vh;
    display: flex;
    justify-content: right;
    float: right;
  }


  .map-dvc-hrz-menu {
    height: 3.9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0.1vh;
    margin-bottom: 0.1vh;
    margin-right: 1.3vw;
    padding: 1vw;
    text-decoration: none;
  }


  .map-dvc-hrz-menu:hover {
    height: 3.9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0.1vh;
    margin-bottom: 0.1vh;
    margin-right: 1.3vw;
    padding: 1vw;
    text-decoration: none;
    background-color: #c4c4aa;
  }



  /* ----------------------- Working Widget ---------------------------- */

  #map-div-working-widget {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
  }


  #map-div-first-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  #map-div-name-division {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .map-dvc-working-sub-widget {
    width: 50vw;
    height: 91vh;
  }


  #map-pg-name-surname, #map-pg-department {
    font-size: 3vw;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


  .map-dvc-network {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .map-dvc-network-icon {
    width: auto;
    height: 5vh;
    margin: 0.5vw;
  }


  .map-dvc-network-link {
    width: 25vw;
    height: 11vh;
    font-size: 1.4vw;
    margin-left: 0.7vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }


  #map-div-second-side {
    display: flex;
    justify-content: space-between;
    background-color: #5f9ea0;
  }


  #map-div-my-picture {
    width: 29vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  #map-img-my-picture {
    width: auto;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1vw;
  }


  #map-div-professional-icons {
    width: 15vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .map-dvc-professional-icon {
    width: auto;
    height: 21vh;
    margin: 1vw;
    opacity: 0.4;
  }
  
  

  /* ----------------------- Menü List ---------------------------- */
  
  #map-as-menu-lst {
    display: none;
  }

  /* ----------------------- ------ ----------------------- */

}