* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{
	--first-degree-light-gray: #e0dede;
	--second-degree-light-gray: #b1aeae;
}


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



@media all and (orientation:landscape) {
   
  /* --------------------------- Animation ------------------------- */
  @keyframes my_animation {
    from {
        opacity: 0;
        transform: translateX(7vw);
    }
    to {
        opacity: 1;
        transform: translateX(0vw);
    }
  }


  .my-animation {
    animation: 0.8s ease-out 0s 1 my_animation forwards;
  }


  /* ------------------------- Main Widget ------------------------ */
  /* -------------------------------------------------------------- */
  /* -------------------------------------------------------------- */
  #map-div-main-widget {
    width: 98vw;
    height: 300vh;
    display: grid;
    grid-template-rows: 3fr 3fr 27fr 16fr 20fr 20fr 11fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 7px;
    margin: 7px;
  }
    


  /* --------------------------- Head ------------------------------- */
  /* ---------------------------------------------------------------- */
  #map-hdr-head {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 7;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }


  .map-dvc-divisions {
    border-radius: 0.8vw;
    box-shadow: 3px 3px 4px #7a7a7a;
    background-color: white;
    z-index: 1;
  }


  #map-lnk-phone {
    width: 13vw;
    height: 9vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
  }


  #map-icn-phone {
    margin-right: 1vw;
    width: auto;
    height: 4vh;
  }


  /* --------------------------- Menu Bar --------------------------- */
  /* ---------------------------------------------------------------- */
  #map-nav-menu-bar {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 7;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  #map-div-app-icon {
    width: 6vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  #map-icn-app-icon {
    width: auto;
    height: 8vh;
  }


  #map-div-menu-button {
    display: none;
  }


  #map-div-horizontal-menu {
    width: 24vw;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .map-dvc-hrz-menu {
    height: 9vh;
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7vw;
    color: blue;
    text-decoration: none;
  }


  .map-dvc-hrz-menu:hover {
    height: 9vh;
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7vw;
    text-decoration: none;
    background-color: #f3f2f2;
    color: black;
  }



  /* ------------------------- Sorted Images ------------------------ */
  /* ---------------------------------------------------------------- */
  #map-div-sorted-images {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
  }

  
  #map-div-direction-icons {
    width: 95vw;
    height: 9vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  
  .map-icn-icons {
    width: auto;
    height: 8.3vh;
  }



  /* ------------------------- Clean Products ----------------------- */
  /* ---------------------------------------------------------------- */
  #map-div-clean-products {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  h1 {
    margin: 0;
    font-size: 2.2vw;
  }


  .map-img-info-images {
    width: auto;
    height: 21vh;
    margin-bottom: 1vw;
  }


  .map-pgf-info-paragraphes {
    text-align: center;
    font-size: 1.3vw;
  }



  /* ----------------------- Delicious Products --------------------- */
  /* ---------------------------------------------------------------- */
  #map-div-delicious-products {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



  /* ----------------------- Smiling Service ------------------------ */
  /* ---------------------------------------------------------------- */
  #map-div-smiling-service {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 5;
    grid-column-end: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



  /* ----------------------- About Us Image ------------------------- */
  /* ---------------------------------------------------------------- */
  #map-div-about-us-image {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .map-img-other-images {
    width: auto;
    height: 53vh;
  }



  /* ----------------------- About Us Text -------------------------- */
  /* ---------------------------------------------------------------- */
  #map-div-about-us-text {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  #map-pgf-about-us {
    text-align: center;
    font-size: 1.8vw;
    padding: 3px;
  }


  
  /* ---------------------- Communication Image --------------------- */
  /* ---------------------------------------------------------------- */
  #map-div-communication-image {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 4;
    grid-column-end: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



  /* ---------------------- Communication Text ---------------------- */
  /* ---------------------------------------------------------------- */
  #map-div-communication-text {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  #map-lnk-communication {
    font-size: 1.9vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* -------------------- Menu Lst (Over divisions) ----------------- */
  /* ---------------------------------------------------------------- */
  #map-asd-menu-lst {
    display: none;
  }



  /* -------------------------- Bottom Side ------------------------- */
  /* ---------------------------------------------------------------- */
  #map-ftr-bottom-side {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1982fad3;
  }


  #map-div-bottom-images {
    width: 15vw;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }


  #map-pgf-bottom-side {
    font-size: 1.3vw;
    margin-top: 2vw;
  }


  .map-dvc-network-icons {
    width: auto;
    height: 5vh;
    margin: 0.3vw;
  }

  /* ---------------------------------------------------------------- */

}