* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



@media all and (orientation:portrait) {

  body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 9fr 91fr;
    grid-template-columns: 1fr;
    grid-gap: 2vw;
    padding: 2vw;
    background-color: #d4d3d3;
  }


  
  /* ----------------------- Website Path --------------------------- */
  /* ----------------------- ---------------- ----------------------- */
  #onp-div-link-path {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .onp-dvc-divisions {
    border-radius: 0.5vw;
    box-shadow: 3px 3px 4px #7a7a7a;
    background-color: white;
  }


  .onp-lnkc-top-links {
    font-size: 4.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* ----------------------- Networks ------------------------------- */
  /* ----------------------- ---------------- ----------------------- */
  #onp-div-networks {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .onp-dvc-network {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  .onp-imgc-icon {
    width: auto;
    height: 9vw;
    margin: 1vw;
  }


  .onp-lnkc-network-link {
    width: 56vw;
    height: 13vh;
    font-size: 3.7vw;
    margin-left: 1vw;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
}

/* Yatay görüntüde margin değerlerini tek tek verdik. Çünkü bunda display flex kullandık (kapsayıcı div içinde) */