* {
  margin: 0;
  padding: 0;
}
  
  
  
@media all and (orientation:portrait) {
    
  body {
    max-width: 100vw;
    max-height: 100vh;
  }


  
  /* ----------------------- Main Widget Side ----------------------- */

  #map-dv-main-widget {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 9% 91%;
  }



  /* ----------------------- Menu Bar ----------------------- */

  #map-nv-menu-bar {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    background: linear-gradient(to bottom, #bebebb, #ebebeb);
  }

  
  #map-dv-menu-button {
    width: 13vw;
    height: 8.6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    
  }


  #map-ic-menu { 
    width: auto;
    height: 7vh;
  }


  #map-dv-horizontal-menu {
    display: none;
  }


  .map-dvc-vrt-menu {
    margin-top: 7vw;
    margin-left: 2vw;
    font-size: 5.2vw;
    color: #eeeef3;
  }



  /* ----------------------- Working Widget ----------------------- */

  #map-div-working-widget {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
  }


  #map-div-first-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  #map-div-sub-first-side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }


  #map-div-name-division {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .map-dvc-working-sub-widget {
    width: 99.9vw;
    height: 46vh;
    /* border: 0.3vw solid green; */
  }


  #map-pg-name-surname {
    font-size: 7vw;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


  #map-pg-department {
    font-size: 5.5vw;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: blue;
  }


  #map-img-desktop {
    width: auto;
    height: 15vh;
    margin-left: 3.5vw;
    opacity: 0.4;
  }


  .map-dvc-network {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .map-dvc-network-icon {
    width: auto;
    height: 4vh;
    margin: 0.5vw;
  }


  .map-dvc-network-link {
    width: 43vw;
    height: 6vh;
    font-size: 4vw;
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }


  #map-div-second-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5f9ea0;
  }



  #map-img-my-picture {
    width: auto;
    height: 43vh;
    border-radius: 1vw;
  }
  


  /* ----------------------- Menü List ----------------------- */
   
  #map-as-menu-lst {
    width: 0;
    height: 100vh;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0.8;
    overflow-x: hidden;
    background-color: #2e302f;
    transition: 0.5s;
  }
    
     
  #map-btn-menu-lst-close {
    background-color: transparent;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    font-size: 6vw;
    color: #ff2c4f;
    text-align: right;
    padding-right: 2vw;
  }


  .map-dvc-vrt-menu {
    margin-top: 7vw;
    margin-left: 2vw;
    font-size: 5.2vw;
    color: #e9e9ec;
  }

  /* ----------------------- ------ ----------------------- */

}