* { 
    padding: 0;
    margin: 0;
}


body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}


#asf-bl-ana-arayuz {
	width: 50vw;
	height: 40vw;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}



#asf-etk-cikti
{
	color: turquoise;
	font-size: 5vw;
	text-indent: 3vw;
}