* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
}
  
  
  
@media all and (orientation:portrait) {

  /* --------------------------- Animation ------------------------- */
  @keyframes my_animation {
    from {
        opacity: 0;
        transform: translateX(5vw);
    }
    to {
        opacity: 1;
        transform: translateX(0vw);
    }
  }


  .my-animation {
    animation: 0.8s ease-out 0s 1 my_animation forwards;
  }
  

  /* ------------------------- Main Widget ------------------------ */
  /* -------------------------------------------------------------- */
  /* -------------------------------------------------------------- */
  #map-div-main-widget {
    width: 95vw;
    height: 300vh;
    display: grid;
    grid-template-rows: 3% 3% 17% 10% 10% 10% 15% 5% 15% 5% 7%;
    grid-template-columns: 100%;
    gap: 7px;
    margin: 7px;
    border: 1px solid red;
  }



  /* --------------------------- Head ------------------------------- */
  /* ---------------------------------------------------------------- */
  #map-hdr-head {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }


  .map-dvc-divisions {
    border-radius: 1.3vw;
    box-shadow: 3px 3px 4px #7a7a7a;
    background-color: white;
    z-index: 1;
  }


  #map-lnk-phone {
    width: 29vw;
    height: 9vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 3vw;
  }


  #map-icn-phone {
    margin-right: 1.5vw;
    width: auto;
    height: 4vh;
  }



  /* --------------------------- Menu Bar --------------------------- */
  /* ---------------------------------------------------------------- */
  #map-nav-menu-bar {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  #map-div-app-icon {
    width: 17vw;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  #map-icn-app-icon {
    width: auto;
    height: 10vh;
  }


  #map-div-menu-button {
    width: 13vw;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
  }


  #map-icn-menu { 
    width: auto;
    height: 7vh;
  }


  #map-div-horizontal-menu {
    display: none;
  }
  


  /* ------------------------- Sorted Images ------------------------ */
  /* ---------------------------------------------------------------- */
  #map-div-sorted-images {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
  }

  
  #map-div-direction-icons {
    width: 91vw;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }


  .map-icn-icons {
    width: auto;
    height: 6.5vh;
  }



  /* ------------------------- Clean Products ----------------------- */
  /* ---------------------------------------------------------------- */
  #map-div-clean-products {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  h1 {
    font-size: 5vw;
  }


  .map-img-info-images {
    width: auto;
    height: 13vh;
    margin-bottom: 1vw;
  }


  .map-pgf-info-paragraphes {
    text-align: center;
    font-size: 3.3vw;
  }



  /* ----------------------- Delicious Products --------------------- */
  /* ---------------------------------------------------------------- */
  #map-div-delicious-products {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



  /* ----------------------- Smiling Service ------------------------ */
  /* ---------------------------------------------------------------- */
  #map-div-smiling-service {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



  /* ----------------------- About Us Image ------------------------- */
  /* ---------------------------------------------------------------- */
  #map-div-about-us-image {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .map-img-other-images {
    width: auto;
    height: 39vh;
  }



  /* ----------------------- About Us Text -------------------------- */
  /* ---------------------------------------------------------------- */
  #map-div-about-us-text {
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  #map-pgf-about-us {
    text-align: center;
    font-size: 4.5vw;
    padding: 3px;
  }



  /* ---------------------- Communication Image --------------------- */
  /* ---------------------------------------------------------------- */
  #map-div-communication-image {
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



  /* ---------------------- Communication Text ---------------------- */
  /* ---------------------------------------------------------------- */
  #map-div-communication-text {
    grid-row-start: 10;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  #map-lnk-communication {
    font-size: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



  /* -------------------- Menu Lst (Over divisions) ----------------- */
  /* ---------------------------------------------------------------- */
  #map-asd-menu-lst {
    width: 0;
    height: 100vh;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0.8;
    overflow-x: hidden;
    background-color: #2e302f;
    transition: 0.5s;
    z-index: 3;
  }
    
     
  #map-btn-menu-lst-close {
    background-color: transparent;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    font-size: 6vw;
    color: #ff2c4f;
    text-align: right;
    padding-right: 2vw;
  }


  .map-dvc-vrt-menu {
    width: 67vw;
    height: 8vh;
    margin-left: 1vw;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 5vw;
    color: white;
    text-decoration: none;
  }


  .map-dvc-vrt-menu:hover {
    width: 67vw;
    height: 8vh;
    margin-left: 1vw;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 5vw;
    color: black;
    background-color: #c4c4aa;
  }



  /* -------------------------- Bottom Side ------------------------- */
  /* ---------------------------------------------------------------- */
  #map-ftr-bottom-side {
    grid-row-start: 11;
    grid-row-end: 12;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1982fad3;
  }


  #map-pgf-bottom-side {
    font-size: 2.9vw;
    margin-top: 2vw;
  }


  .map-dvc-network-icons {
    width: auto;
    height: 5vh;
    margin: 0.3vw;
  }

  /* ---------------------------------------------------------------- */

}
